:root {
  --font-serif: Georgia, Times New Roman, serif;
}

body {
  font-family: var(--system-fonts);
  background: black;
  color: white;
}

a { 
  color: inherit;
}

a:hover {
  font-style: italic;
}

input,
textarea,
select,
button {
  font: inherit; 
  border: none; 
}