.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 2rem;
  width: 100%;
  max-width: 90ch;
}

.title {
  text-align: center;
  margin: 0 0 1rem;
  font-size: 3.5em;
  line-height: 1;
  color: mediumseagreen;
  font-family: var(--font-serif);
  background: -webkit-linear-gradient(mediumseagreen, mediumseagreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: normal;
  letter-spacing: 2px;
  font-style: italic;
}

.subtitle { 
  text-align: center;
  color: peachpuff;
  margin: 0 0 0.75rem;
}

.credits {
  text-align: center;
  color: peachpuff;
  opacity: 0.8;
  font-size: 0.7em;
  margin: 0 0 0.9rem;
}

.badge {
  font-size: 0.6em;
  vertical-align: super;
  background: violet;
  border-radius: 4px;
  display: inline-block;
  padding: 1px 6px;
  color: black;
  margin: 0 4px;
  font-style: italic;
} 

ul.photoList {
  --row-height: 20vw;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2px;
  padding: 0;
  list-style-type: none;
}

ul.photoList:after {
  content: '';
  display: block;
  flex-grow: 10;
}

.photoList li {
  height: var(--row-height);
  min-height: 25vh;
  max-height: 40vh;
  flex-grow: 1;
}

.photoList img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  border: 2px solid black;
}

.emptyState {
  color: darkgray;
  min-height: 50vh;
  display: flex;
  align-items: center;
}

/* .photoList a {
  position: relative;
}

.photoList a::after {
  content: attr(data-title);
  color: black;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: calc(-1 * var(--row-height));
} */

.photoList img:not([src]) {
	visibility: hidden;
}