.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.subtitle,
.credits {
  max-width: 50rem;
}

.title {
  text-align: center;
  font-size: clamp(12rem, 7rem + 11vw, 25rem);
  color: mediumseagreen;
  font-family: Lofi Forest;
  letter-spacing: -0.05em;
  overflow-wrap: break-word;
  line-height: 0.9;
  max-width: 100%;
  hyphenate-character: '';
  margin-block: 0 -1rem;
}

.title a {
  text-decoration: none;
}

.title a:hover {
  font-style: normal;
}

.subtitle {
  text-align: center;
  color: peachpuff;
}

.divider {
  margin: 0.5rem 0;
  opacity: 0.5;
}

.credits {
  text-align: center;
  color: peachpuff;
  opacity: 0.8;
  font-size: 0.7em;
}

ul.photoList {
  --row-height: 20vw;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2px;
  padding: 0;
  list-style-type: none;
}

ul.photoList:after {
  content: '';
  display: block;
  flex-grow: 10;
}

.photoList li {
  height: var(--row-height);
  min-height: 25vh;
  max-height: 40vh;
  flex-grow: 1;
}

.photoList img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  border: 2px solid black;
}

.emptyState {
  color: darkgray;
  min-height: 50vh;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.photoList img:not([src]) {
  visibility: hidden;
}
