.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 2rem;
  width: 100%;
  max-width: 90ch;
}

.title {
  text-align: center;
  margin: 0 0 1rem;
  font-size: 3.5em;
  line-height: 1;
  color: mediumseagreen;
  font-family: Georgia;
  background: -webkit-linear-gradient(mediumseagreen, mediumseagreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: normal;
  letter-spacing: 2px;
  font-style: italic;
}

.subtitle { 
  text-align: center;
  color: peachpuff;
  margin: 0 0 1.5rem;
}

.badge {
  font-size: 0.6em;
  vertical-align: super;
  background: violet;
  border-radius: 4px;
  display: inline-block;
  padding: 1px 6px;
  color: black;
  margin: 0 4px;
  font-style: italic;
} 

ul.photoList {
  --row-height: 20vh;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2px;
  padding: 0;
  list-style-type: none;
}

ul.photoList:after {
  content: '';
  display: block;
  flex-grow: 10;
}

.photoList li {
  height: var(--row-height);
  flex-grow: 1;
}

.photoList img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  border: 2px solid black;
}

/* .photoList a {
  position: relative;
}

.photoList a::after {
  content: attr(data-title);
  color: black;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: calc(-1 * var(--row-height));
} */

.photoList img:not([src]) {
	visibility: hidden;
}


/*  */

.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
