.form {
  width: 100%;
}

.wrapper { 
  display: flex;
  justify-contents: center;
  height: 3rem;
  margin: 0 auto;
}

.input {
  flex-grow: 1;
  margin: 0;
  padding: 0 12px;
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
  appearance: none;
  border-radius: 12px 0 0 12px;
}

.input::-webkit-search-cancel-button {
  appearance: none;
  display: none;
}

.button {
  margin: 0;
  padding: 0 1.5rem;
  background: rgba(255, 255, 255, 0.3);;
  color: gainsboro;
  font-weight: 500;
  transition: all 0.2s;
  border-radius: 0 12px 12px 0;
}

.button:hover {
  background: rgba(255, 255, 255, 0.25);
}